beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
futures==3.0.5
goslate==1.5.4
idna==3.10
joblib==1.4.2
nltk==3.9.1
numpy==2.2.3
opencv-python==4.11.0.86
pillow==11.1.0
pycparser==2.22
PyDictionary==2.0.1
qrcode==8.0
regex==2024.11.6
requests==2.32.3
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
yt-dlp==2025.2.19
