aiofiles==0.8.0
anyio==3.5.0
asgiref==3.5.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
defusedxml==0.7.1
ecdsa==0.17.0
fastapi==0.73.0
greenlet==1.1.2
h11==0.13.0
httpie==3.0.2
idna==3.3
multidict==6.0.2
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
PyMySQL==1.0.2
PySocks==1.7.1
python-decouple==3.6
python-jose==3.3.0
python-multipart==0.0.5
requests==2.27.1
requests-toolbelt==0.9.1
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.4
