anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.11
colorama==0.4.4
defusedxml==0.7.1
fastapi==0.73.0
httpie==3.0.2
idna==3.3
multidict==6.0.2
pydantic==1.9.0
Pygments==2.11.2
PySocks==1.7.1
requests==2.27.1
requests-toolbelt==0.9.1
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.0.1
urllib3==1.26.8
